
:root {
    --SLATE: #434455;
    --NAVY-BLUE: #2E2F42;
    --IRIS: #4D5AE5;
    --CLOUD: #F4F4FD;
    --wait-text-color: #FFFFFF;
    --CORNFLOWER: #E7E9FC;
    --OCEAN: #404BBF;
    --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);  
}

/* main text color: #434455; */
/* secondary  text color: #2E2F42;*/
/* violet text color: #4D5AE5;  */
/* logo text wait color: #E7E9FC; */
/* wait text  color: #FFFFFF;*/
/* advice texst color: #E7E9FC; */
/* font-family: 'Raleway', sans-serif;
   font-family: 'Roboto', sans-serif; */

body {
    color: var(--SLATE);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.02em;
}
 
h1, h2, h3 {
    color: var(--NAVY-BLUE);
}

ul, h1, h2, h3, h4, h5, h6, p, a {
    list-style: none;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
}

img {
    display: block; 
    max-width: 100%;  
    height: auto;
    margin-bottom: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

 /* .container {
    width: 1158px;
    padding: 0px 15px;
    margin: 0 auto;
    
} */

/******* mobile-menu*******/

.mobile-menu {
    display: flex;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100vw;
    max-height: 796px;
    height: 100vh;
    overflow-y: auto;

    background-color: #FFFFFF;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    transition: var(--transition-dur-and-func);
    
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

}
.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.mobile-menu_container{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 40px;    
    margin: 0 auto;
    max-width: 428px;
    height: 100%;
    
}
.mobile-menu-close-btn {
    position: absolute;
    top: 40px;
    right: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color:  #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);

}

/******* mobile-menu_nav*******/

.mobile-item {
    text-decoration: none;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;

    color: var(--NAVY-BLUE);
}

.mobile-menu-item:not(:last-child) {
    margin-bottom: 40px;
}

.mobile-menu_nav-list {
    margin-top: 40px;
    margin-bottom: auto;
}

/******* mobile-menu_adres ********/

.mobile-menu_adres-list {
  
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: 48px;

}

.mobile-menu-tel {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    color: var(--IRIS);
}

.mobile-menu-email{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--SLATE);
}

.mobile-menu-adres:not(:last-child) {
    margin-bottom: 40px;
}

/******* mobile-menu_adres-list *******/

.mobile-menu-list {
    display: flex;
    gap: 56px;
    flex-wrap: wrap;
}

.mobile-menu-list-link {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--IRIS);

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
}
 
/******* mobile-menu-end *******/


/* .page-heder-portfolio {
    padding-top: 24px;
    padding-bottom: 24px;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
} */

.container { 
   padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
}

@media screen and (min-width: 480px){

    .container {
        width: 428px;
       
    }
}
@media screen and (min-width: 768px){

    .container {

        width: 768px;

    }
}
@media screen and (min-width: 1200px){

    .container {

        width: 1168px;

    }
}


.page-heder {
    padding-top: 24px;
    padding-bottom: 24px;
                
}
.page-heder-container{ 
    
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.mobile-menu-open {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
}



 
/******* herro (min-width: 480px)*******/

    .section-herro {
        background-color: var(--NAVY-BLUE);
        padding-top: 112px;
        padding-bottom: 112px;
        text-align: center;
    }

    .herro-container {
        display: flex;
        align-items: center;
        flex-direction: column;
      
    }

    .herro-titel {
        color: var(--wait-text-color);
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
    
        padding: 0px;
        margin-bottom: 72px;
    }

    .button {
        background-color: var(--IRIS);
        color: var(--wait-text-color);
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        cursor: pointer;
    
    
        padding: 16px 32px;
        border-radius: 4px;
        min-width: 170px;
        border: none;
    
        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: var(--timing-function);
    }
    
    .button:hover,
    .button:focus,
    .button:active  {
        border-radius: 4px;
        background: #404BBF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }

/*******overlay (min-width: 480px)*******/
    
    .overlay {
        max-width: 428px;
        margin-left: auto;
        margin-right: auto;
        outline: 1px solid black;
        background-image: linear-gradient( to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
         url(../imges/img-mobile/mobile-dark.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-color: #2E2F42; 
      
    }

@media screen and (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
    .overlay {
        background-image: linear-gradient( to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
         url(../imges/img-mobile/mobile-dark@2x.jpg);
        }
    }

/******* section1 (min-width: 480px)*******/

    .benefits-list {
        list-style: none; 
        justify-content: space-between;
        padding: 96px 0px;
    }
    .benefits-item {
        align-items: flex-start;
        padding: 0px;        
    }

    .benefits-item:not(:last-child) { 
        margin-bottom: 72px;
    }

    .benefits-subtitle {
       color: var(--NAVY-BLUE); 
       font-weight: 700;
       font-size: 36px;
       line-height: 1.11;
       text-align: center;
       letter-spacing: 0.02em;
       text-transform: capitalize;

       margin-bottom: 8px;
    }
    
    .benefits-text {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5; 
        color: var(--SLATE);
    }

/*******section2 (min-width: 480px)*******/

    .doing-container {
        display: none;
    }

    .doing-title {
        display: none;
    }

    .doing-list {
        display: none;
    }


/*******section3 (min-width: 480px)*******/

    .team {
        display: flex;
        flex-direction: column;
        background-color: var(--CLOUD);
    }

    .container-team{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        padding-top: 96px;
        padding-bottom: 128px;
    }

    .team-title {
        font-weight: 500;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;

        text-transform: capitalize;
        margin-bottom: 72px;
    }

    .team-item {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);    
    }

    .team-item:not(:last-child) {
        margin-bottom: 72px;
    }


    .team-list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .team-name {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        text-align: center;

        margin-bottom: 8px;
    }

    .team-text {
        font-size: 16px;
        line-height: 1.5;
        text-align: center;
        margin-bottom: 8px;

    }

    .card-team {
        width: 264px;
        background-color: #FFFFFF;
        padding: 32px 16px;
        border-radius: 0px 0px 4px 4px;
    }

    .social-list {
        display: flex;
        justify-content: center;
        align-items: center; 
        gap: 24px;
        
    }
    .social-list-link {
        display: flex;
        justify-content: center;
        align-items: center; 
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: var(--IRIS);   
    }

/*******section4 (min-width: 480px)*******/

    .customers-container {
        display: block;
        padding-top: 96px;
        padding-bottom: 96px;
        
    }
    .customers-item{
        display: flex;
        flex-wrap: wrap;
    
        align-items: center; 
        width: 100%; 
        height: 100%;
        row-gap:72px;
        column-gap: 16px; 
        justify-content: center;
    }
    .customers-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        letter-spacing: 0.03em;
        margin-bottom: 72px;
    }

    .customers-list-link {
        display: block; 
        height:100%; 
        border: 1px solid #8E8F99;
        border-radius: 4px;
        padding: 16px 40px;
        color: #8E8F99;

        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: var(--timing-function);
    }

    .customers-list-link:hover,
    .customers-list-link:focus{
        color:  #4D5AE5 ;
        border: 1px solid #4D5AE5;
        border-radius: 4px;
    }

    .customers-list-icon{
        display: flex;
        justify-content: center; 
        flex-direction: column;
        align-items: center;
        width: 108px;
        height: 56px;
        fill: #8E8F99;

    }

    .customers-list-icon{
        fill: currentColor;
    }

/******* footer (min-width: 480px)*******/

    .footer-text {
        background-color: var(--NAVY-BLUE);
        text-align: center;

    }

    .footer-container {

        display: flex;
        align-items: center;
        justify-content: space-around;
      

        flex-direction: column;
        padding-top: 96px;
        padding-bottom: 96px;

    }

    .logo-item-tablet {
        margin-bottom: 72px;
    }


    .logo-studio-hover {
        color: var(--CLOUD);
    }


    .logo-studio-hover {
        color: var(--CLOUD);
    }

   .logo-studio-hover {
        color: var(--CLOUD);
    }
    

    .quote {
        color: var(--CORNFLOWER);
        font-size: 16px;
        line-height: 1.5;
        width: 264px;

       margin-top: 16px;
        text-align: left;
    }

    .footer-logo-web {
        margin-bottom: 72px;
    }

    .footer-logo-web {
        margin-bottom: 72px;
    }

    .title-media {
        font-weight: 600;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        margin-bottom: 16px;
    }

    .media-list {
        display: flex;
        align-items: center;
        justify-content: center; 
        gap: 16px;
    }

    .media-list-link {
        display: flex;
        justify-content: center;
        align-items: center; 
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.1);

        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: var(--timing-function);
    }

    .media-list-link:hover,
    .media-list-link:focus,
    .amedia-list-link:active  {
        background-color: #31D0AA;
    }



    .subscribe-tablet{
        display: flex;
        flex-direction: column;
        width: 100%;
   
    }
       
    .title-subscribe {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color:var(--wait-text-color);
        margin-bottom: 16px;

    }
    .subscribe-form{
        display: flex;
        flex-direction:column;
         
    }
    .subscribe-form-input {
        padding: 8px 16px;
        box-sizing: border-box;
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px; 
        margin-bottom: 16px;
        color: rgba(255, 255, 255, 0.6);
        background-color: var(--NAVY-BLUE);        
    }

    .subscribe-form-input:focus {
        outline: none;
        border: 1px solid #4D5AE5;
    }

    .subscribe-form-submit {
        display: flex;
        font-weight: 500;
        font-size: 16px;
   
        margin-left: auto;
        margin-right: auto;

        align-items: center;
        text-align: center;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        height: 40px;
        cursor: pointer;

        background: var(--IRIS);
        border-radius: 4px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        padding: 8px 24px;
        border: none;

        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: var(--timing-function);       
    }

    .subscribe-form-submit:hover,
    .subscribe-form-submit:focus  {
        background: #404BBF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        
        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: var(--timing-function);
    }

    .subscribe-form-icon {
        align-items: center;
        text-align: center;
        margin-left: 16px;
    }




/******** (min-width: 768px) *******/

@media screen and (min-width: 768px) {

    .mobile-menu-open_icon {
         display: none;
           
    }

    .page-heder {
        padding-bottom: 0;          
    }

/******** navigation (min-width: 768px) *******/

    .nav-list {
        display: flex;
        margin-left: 120px;
        margin-right: 0;
    }

    .nav-item {
        color: var(--NAVY-BLUE);
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        text-decoration:none;
        padding-bottom: 28px;
            
        position: relative;
        
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: var(--timing-function);
    }

    .nav-item:hover, 
    .nav-item:focus,
    .nav-item:active {
        color: var(--OCEAN);
    }


    .menu-item:not(:last-child) {
        margin-right: 40px;
    }

    .nav-item-current::after {
        content:"";
        position: absolute;
        left: 0;
        bottom: 0;

        display: block;
        width: 100%;
        height: 4px;

        background: var(--OCEAN);
        border-radius: 2px;

        transform: scaleX(1);
        transition: transform 250ms var(--timing-function);
    }

    .nav-item-current {
        color: var(--OCEAN);
    }

    .nav-item-current:hover::after {

        transform: scaleX(0);
    }

/******* adres (min-width: 768px) *******/

    .adres-list {   
        display: flex;
        flex-direction: column;
        margin-left: auto;
         
    }

    .adres-tel {
        margin-bottom: 10px;
    }

    .adres {
        color: var(--SLATE);
        font-size: 12px;
        line-height: 1.33;
        letter-spacing: 0.04em;
        text-decoration:none;
        
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: var(--timing-function);
    }
        
    .adres:hover,
    .adres:focus,
    .adres:active  {
        color: var(--IRIS);         
    }

/******* herro (min-width: 768px) *******/

    .section-herro {
        padding-top: 112px;
        padding-bottom: 108px;
     
    }

    .herro-titel {
        font-size: 56px;
        line-height: 1.07;
        margin-bottom: 40px;
    }

    .overlay {
        width: 100%;
        max-width: 768px;  
        background-image: linear-gradient( to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../imges/img-tablet/tablet-dark.jpg); 
        background-size: auto auto;    
    }

@media screen and (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
    .overlay {
        background-image: linear-gradient( to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../imges/img-tablet/tablet-dark@2x.jpg);
        }
    }
        
/******* section1 (min-width: 768px) *******/

    .benefits-list {
        display: flex;
        flex-wrap: wrap;
    }

    .benefits-item {
        align-items: flex-start;
        padding: 0px;
        width: 356px;       
    }

    .benefits-item:not(:last-child) { 
        margin-bottom: 72px;
    }

    .benefits-subtitle {
        color: var(--NAVY-BLUE); 
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;

        margin-bottom: 8px;
    }
    
    .benefits-text {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5; 
        color: var(--SLATE);
    }

/********section2 (min-width: 768px)*******/

/******* section3 (min-width: 768px)*******/

   .team > .container-team-tablet {
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 104px;
    }

    .team-list-tablet > .team-item-tablet {
        margin-bottom: 0;
    }
    
    .team-list-tablet {
        flex-direction: unset;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 24px;
        row-gap: 64px;
    }

/*******section4 (min-width: 768px)*******/
  
    .customers-item{
        column-gap: 24px; 
       
    }

    .customers-list-link {
        padding: 16px 31px;
    }

    .customers-list-icon{
        width: 104px;

    }

/******* footer (min-width: 768px)*******/

    .footer-text {
     text-align: left;       
    }

    .footer-container {
        padding: 96px 108px;
        align-items: unset;
    }

    .logo-web-tablet {
        justify-content: left;
    }
   
    .footer-logo-web {
        margin-bottom: 0;
        margin-right: 24px;
    }

    .logo-item-tablet {
      display: flex;
    
    }

    .logo-tablet {
        margin-right:  24px;
        
    }

    .media-item-tablet {
        margin-bottom: 0;
    }

    .subscribe-form {
       flex-direction: unset;
    }

    .subscribe-form-input {
        width: 264px;
        margin-right: 24px;
        margin-bottom: 0;

    }
 
    .subscribe-form-submit {
        margin-left: 0;
        margin-right: 0;
    }
    
}

/******* (min-width: 1200px) *******/

@media screen and (min-width: 1200px) {
    .page-heder {
        padding-bottom: 24px;           
    }

 
    .nav-list {
        margin-left: 76px;
    }

    .adres-tel-desktop {
        margin-bottom: 0;
    }
        
    .adres-list {
        flex-direction: row;
    }

    .adres {
        color: var(--SLATE);
        font-size: 16px;
        line-height: 1.5;
        text-decoration:none;        
    }

    .menu-adres:not(:last-child) {
        margin-right: 40px; 
           
    }   

/******* herro (min-width: 1200px)*******/

    .section-herro {
        padding-top: 188px;
        padding-bottom: 188px;
    }

    .herro-titel {
        margin-bottom: 48px;
    }

    .overlay {
         max-width: 1440px;
            
        background-image: linear-gradient( to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../imges/img-desktop/desktop-dark.jpg);     
    }

@media screen and (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
    .overlay {
        background-image: linear-gradient( to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../imges/img-desktop/desktop-dark@2x.jpg);
        }
    }

/*******section1 (min-width: 1200px)*******/
      
    .benefits-list {     
        padding-top: 120px;
        padding-bottom: 120px;
    }      

    .benefits-item {
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: min-content;
    }
       
    .benefits-item:not(:last-child) { 
        margin-right: 24px;
        margin-bottom: 0;
    }

    .benefits-subtitle {
        color: var(--NAVY-BLUE); 
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        margin: 0;                
    }
        
    .benefits-text {
        font-size: 16px;
        line-height: 1.5; 
        letter-spacing: 0.01em;
    }
        
    .benefits-item::before {
        display: block;
        content: "";
        width: 264px;
        height: 112px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-color: var(--CLOUD);
        border-radius: 4px;        
    }
        
    .icon-strategy::before {
        display: inline-block;
        background-size: 64px;
        background-image: url(../imges/icons/icons-benefits/antenna.svg);        
        }

    .icon-punctuality::before {
        display: inline-block;
        background-size: 64px;
        background-image: url(../imges/icons/icons-benefits/clock.svg);       
        }

    .icon-diligence::before {
        display: inline-block;
        background-size: 64px;
        background-image: url(../imges/icons/icons-benefits/diagram.svg);   
        }

    .icon-technologies::before {
        display: inline-block;
        background-size: 64px;
        background-image: url(../imges/icons/icons-benefits/astronaut.svg);    
        }


/*******section2 (min-width: 1200px)*******/


     
    .doing-container {
        flex-direction: column;
        padding-bottom: 120px;
    }

    .doing-title {
        display: block;
        font-weight: 500;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        text-transform: capitalize;
        margin-bottom: 72px;
    }

    .doing-list {
        list-style: none;
        display: flex;
        justify-content: space-between;
    }

    .doing-item:not(:last-child) {
        padding-right: 24px;
    }

/******* section3 (min-width: 1200px) ********/

    .team > .container-team-tablet {
        padding-top: 120px;
        padding-bottom:120px;
    }

/******** section4 (min-width: 1200px) ********/

    .customers-container {
        flex-direction: column;
        padding-top: 120px;
        padding-bottom:120px;
    }

/******* footer (min-width: 1200px)*******/

  
   .footer-container {
    flex-direction: unset;
        padding: 100px 16px;
   }

   .logo-item-tablet{
    margin-bottom: 0;
    margin-right: 80px;
   }

   .footer-logo-web {
    margin-right: 120px;
   }

    .logo-item-desktop {
        margin-bottom: 0px;
        margin-right: 120px;
    }

    .media-item-desktop {
        margin-right: 80px;
    }

}

@media screen and (max-width: 767px) {
        .nav-list{
            display: none;
         }

        .adres-list {
            display: none;
         }

 }
    
   

/******* nav *******/

.nav-menu {
    display: flex;
    align-items: stretch;
    width: 100%;
}

/******* logo *******/

.logo-web {
    color: var(--IRIS);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-decoration:none;
}

.logo-studio {
    color: var(--NAVY-BLUE);
    margin-bottom: 0px;
}

/******* modal window********/

.backdrop{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(46, 47, 66, 0.4);

    transition: var(--transition-dur-and-func);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 408px;
    width: calc(100% - 36px);
    background-color: #FCFCFC;
    border-radius: 4px;

    transition-property: transform;
    transition-duration: 250ms;
    padding: 24px; 
    padding-top: 72px;
    max-height: 100%;
    overflow-y: auto;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%,-50%) scale(1.2);
}

.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color:  #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;


    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: var(--OCEAN);
}

.modal-close-btn-icon {
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
}

.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon{
    fill: #FFFFFF;
}

/******** modal window ********/

/******* modal form *******/

.form-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 26px;
}

.modal-form {
    display: flex;
    flex-direction: column;
}

.modal-form-field {
    margin-bottom: 8px;
}

.modal-form-input-desc{
    display: block;
    font-size: 11px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: #8E8F99;
    font-weight: 400;
    margin-bottom: 4px;
}

.modal-form-input-wrapper {
    position: relative;
}

.modal-form-input-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translate(0, -50%);
    transition: fill var(--transition-dur-and-func);
}

.modal-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);

    border-radius: 4px;  
    padding-left: 38px;  
    transition:  border-color var(--transition-dur-and-func);
}

.modal-form-input:focus {
    outline: none;
    border: 1px solid #4D5AE5;
    
}

.modal-form-input:focus + .modal-form-input-icon{
    fill: var(--IRIS);
}

.modal-form-comment {
    resize: none;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 8px 16px;
    transition: border-color var(--transition-dur-and-func);
   
    margin-bottom: 16px;
}

.modal-form-comment::placeholder {
    align-items: center;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: rgba(117, 117, 117, 0.5);
}

.modal-form-comment:focus {
    outline: none;
    border: 1px solid #4D5AE5;
}

.modal-form-check-desc {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 1.33;  
    color: #757575;
    margin-bottom: 24px;
}

.modal-form-check-desc::before {
    display: block;
    width: 16px;
    height: 16px;
    border: 1.25px solid #2E2F42;
    border-radius: 2px;
    cursor: pointer;
    content: "";
    margin-right: 8px;
}

.modal-form-check {
    visibility: hidden;
}

.modal-form-check:checked + .modal-form-check-desc::before {
    background-color: var(--OCEAN);
    background-image: url(/imges/icons/vector.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.modal-form-check:focus + .modal-form-check-desc::before {
    background-color: var(--OCEAN);
    background-image: url(/imges/icons/vector.svg);
    background-repeat: no-repeat;
    background-position: center;
    background: #404BBF;
    outline:  1.25px solid #404BBF;
    border-radius: 2px;
}


.modal-form-submit {
    background-color: var(--IRIS);
    color: var(--wait-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    align-self: center;
    
    padding: 16px 32px;
    border-radius: 4px;
    min-width: 169px;
    border: none;
    
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);        
}
    
.modal-form-submit:focus{
    background: #404BBF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.text-policy {
    color: var(--IRIS);
}


/******* modal form *******/




/******* Portfolio ********/

/* .btn-box {
    padding-top: 94px; 
    padding-bottom: 72px;
}

.visually-hidden { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0;  white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}
.btn-list {
    display: flex;
    justify-content: center;
}

.btn {
    background-color: #F4F4FD;
    border: 1px solid #E7E9FC;
    color: var(--IRIS);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;

    padding: 8px 16px;
    border-radius: 4px;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
} */

/* .btn-item:not(:last-child) {
    margin-right: 24px;  
  
}

.btn:hover,
.btn:focus,
.btn:active {
    background: #4D5AE5;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border: none;
    color: var(--wait-text-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    text-align: center;
    letter-spacing: 0.04em;
    cursor: pointer;
 }

.project-list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 120px;
    
}
.project-item {
    display: flex;
    margin-bottom: 48px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
    border: 0.5px solid #F4F4FD;

    transition-property: box-shadow ;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
}

.project-item:hover,
.project-item:focus,
.project-item:active {
    
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

}


.project-item:not(:nth-child(3n+3)){
    width: 360px;
    margin-right: 22px;

}
.project-item:nth-last-child(-n+3){
   margin-bottom: 0;

}

.project-card {
    text-decoration: none;
}


.project-thumb{
    position: relative;

    overflow: hidden;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--CLOUD);

} */
